.about-main {
    display: flex;
}
@media (max-width: 991px) {
    .about-main {
        flex-direction: column;
        align-items: center;
    }

    .about-main-image {
        margin-top: 3%;
    }

    .about-end-image {
        display: none;
    }
}
@media screen and (max-width: 572px) {
    .about-main {
        font-size: 17px;
    }
    .schedule-item-title {
        font-size: 20px !important;
    }
    
    .schedule-item-text {
        font-size: 15px !important;
    }
}

.about-main-text {
    flex-grow: 3;
    margin-right: 15%;
    padding-top: 20px;
}

.about-main-image {
    flex-grow: 1;
    width: 30%;
}

.about-end {
    display: flex;
}

.about-end-image {
    /* flex-grow: 1; */
    width: 20%;
}

.about-end-schedule {
    /* flex-grow: 2; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.schedule-item {
    width: fit-content;
    margin: 5%;
}

.schedule-item-title {
    font-size: 25px;
}

.schedule-item-text {
    font-size: 18px;
}
