.footer_info{
    background: #9DC9C8;
    font-family: Roboto;
}
.footer_info_content{
    padding: 100px 0px;
}
.footer_info .price{
    padding: 60px 0px;
}
.footer_info .sub_price{
    font-size: 25px;
}
.footer_info .price_value{
    font-size: 80px;
}
.footer_info_item_box{
    display: flex;
}
.footer_info_item{
    width: 280px;
    margin-right: 70px;
}
.footer_info_item h5{
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 10px;
}
.footer_info_item p{
    font-size: 18px;
}


.footer_contact{
    background: black;
    font-family: Roboto;
}
.footer_contact_content{
    padding: 50px 0px;
    height: 340px;
    display: flex;
    justify-content: space-between;
}
.footer_contact_left .links{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.footer_contact_left .logo_white{
    width: 120px;
}
.footer_contact_left .links img{
    margin-right: 20px;
}
.footer_contact_left .synchro{
    font-size: 18px;
    color: white;
    padding-top: 110px;
}
.footer_contact_right{
    margin-right: 80px;
    color: white;
}
.footer_contact_right_item{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.footer_contact_right_item img{
    margin-right: 20px;
}
.footer_contact_right_item P{
    font-size: 25px;
}