/* htw means how to watch */
.htw_content{
    display: flex;
    justify-content: space-between;
}
.htw_content_text{
    /* max-width: 600px; */
    flex-grow: 2;
}
.htw_main_title{
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 80px;
    padding: 30px 0px 15px;
    line-height: 100%;
}
.htw_main_text{
    font-family: Roboto;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
}
.htw_content_image{
    padding: 20px 180px 0px 0px;
    flex-grow: 1;
}
@media screen and (max-width:900px){
    .htw_content{
        flex-direction: column;
    }
}