.lessons{
    margin-top: 200px;
}
.lessons_content ul{
    margin-left: 22px;
    width: 53%;
    margin-top: 70px;
}
.lessons_content li{
    font-family: Roboto;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
}
.lessons_content li::marker{
    font-size: 0.8em;
}