.presentation{
    margin-top: 200px;
}
.presentation_item_row{
    margin-top: 120px;
    display: flex;
    flex-direction: row;
}
.presentation_item{
    width: 270px;
    margin-right: 8%;
}
.presentation_item h4{
    font-family: Roboto;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    color: #1E4681;
    margin-bottom: 10px;
}
.presentation_item p{
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
}