.program{
    margin-top: 240px;
}
.program_content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}
.program_card{
    margin-right: 36px;
    margin-bottom: 40px;
}
.program_card{
    display: inline-block;
    width: 30%;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.program_card img{
    width: 100%;
}
.program_card_content{
    padding: 15px;
}
.program_card_title{
    font-family: Roboto;
    font-weight: bold;
    font-size: 27px;
    line-height: 130%;
    height: 80px;
}
.program_card_text{
    font-family: Roboto;
    font-weight: normal;
    font-size: 22px;
    line-height: 130%;
}