.site_information{
    display: flex;
    width: 40%;
    justify-content: space-between;
}
.site_information_item{
    display: flex;
    min-width: 160px;
}
.site_information_item p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    margin-left: 5px;
}